    <!-- Кнопки для тестування: -->
    <div class="nodisplay">
        <button id="button-service">Button #1</button>
        <button id="button-service2">Button #2</button>
    </div>

    <!-- Поля, в які можна виводити з js при відлагоджуванні програми: -->
    <div class="nodisplay">
        <p id="demo0"></p>
        <p id="demo1"></p>
        <p id="demo2"></p>
        <p id="demo3"></p>
        <div id="editor"></div>
    </div>

    <div id="result"
        class="nodisplay"
        >
        Тут будуть дані, отримані з сервера
    </div>
