{% extends "base_koop_change.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}

{% block page-name %}
    Реєстрація нового користувача
{% endblock %}

{% block welcome_text %}
    Вітаємо, {{ user }}!
{% endblock %}

{% block message_text %}
    Дякуємо, що зареєструвались на сайті!<br>
    Просимо звернутися до адміністратора сайту або
    до керівництва кооперативу
    щоб активувати Ваш обліковий запис.
{% endblock %}

{% block href_continue %}
    <a href="{% url 'index' %}">Повернутися на головну сторінку
                      без аутентифікації</a>
{% endblock %}

{% block one_two_forms %}
    <strong>Заповніть форму реєстрації:</strong><br />
    <p>
    Після реєстрації Вам потрібно буде звернутися
    до адміністратора сайту або до керівництва кооперативу
    щоб активувати Ваш обліковий запис.
    </p>
    {% include "block_one_two_forms.html" %}
{% endblock %}

{% block href-back %}
    <li><a href="{% url 'index' %}">Уверх</a></li>
{% endblock %}

