{% extends "base_koop_adm.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}

{% block body %}

    <div id="page-name"
         class="padding-y-05">
        <h3>
            {% block page-name %}
                Редагування доступу користувача {{ capital }}
            {% endblock %}
        </h3>
    </div>
    {% if finished %}
        <p>Доступ користувача збережено!</p>
        <ul class="navigation-small buttons-y align-items-center" >
            <li>
                <a href="{% url 'adm-users-table' %}">Продовжити роботу</a>
            </li>
        </ul>
    {% else %}
        {% block one_two_forms %}
            {% include "block_one_two_forms.html" %}
        {% endblock %}
    {% endif %}
{% endblock %}

{% block href-adm-users-list %}
{% endblock %}

{% block href-adm-users-perms-update %}
{% endblock %}

{% block href-admin %}
{% endblock %}
