{% extends "koop_base.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону koop_base.html #}

{% block style %}
    <style type="text/css">
        .brown { color:    brown;}
    </style>
{% endblock %}

{% block body %}
    <div>
        <h2 class="brown">
            Обрана Вами сторінка перебуває у стадії розробки.
        </h2>
    </div>
{% endblock %}

{% block href-flats %}
{% endblock %}

{% block href-folders %}
{% endblock %}

{% block href-login %}
{% endblock %}

{% block href-register %}
{% endblock %}

{% block href-own-profile %}
{% endblock %}

{% block href-adm-index %}
{% endblock %}

