{% extends "base_koop_change.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}


{% block page-name %}
    Зміна паролю
{% endblock %}

{% block welcome_text %}
    Вітаємо, {{ user.username }}!
{% endblock %}

{% block message_text %}
    Ваш пароль успішно змінено!
{% endblock %}

{% block href_continue %}
    <a href="{% url 'own-profile' %}">Продовжити роботу</a>
{% endblock %}

{% block one_two_forms %}
    <strong>Заповніть поля форми:</strong><br />
    <div align="center">
        <form id="user_form" method="post"
            class="tableform"
            enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if bad_details %}
                <p><strong>Введені дані неправильні!</strong></p>
            {% endif %}
            <table>
                {{ form }}
            </table>
            {% block input-submit %}
                <input type="submit" value="Готово" />
            {% endblock %}

            {% block input-cancel %}
                {% url 'own-profile' as cancel_url %}
                <input type="button" value="Скасувати"
                       onclick="location.href='{{ cancel_url }}'" />
            {% endblock %}
        </form>
    </div>
{% endblock %}

{% block href-back %}
    <li><a href="{% url 'own-profile' %}">Уверх</a></li>
{% endblock %}

