{% extends "base_koop_change.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}


{% block page-name %}
    Авторизація
{% endblock %}

{% block welcome_text %}
    Вітаємо, {{ user.username }}!
{% endblock %}

{% block message_text %}
    Ви успішно авторизувались!
{% endblock %}

{% block href_continue %}
    <a href="{% url 'index' %}">Продовжити роботу</a>
{% endblock %}

{% block one_two_forms %}
    <div align="center">
        <form id="login_form" method="post" action="/login/"
            class="tableform cell-height-1em5">
            {% csrf_token %}
            {% if bad_details %}
                <p><strong>Введені логін та/або пароль неправильні!</strong></p>
            {% elif disabled_account %}
                <p><strong>Ваш обліковий запис на даний момент недоступний;
                            ви не можете увійти в нього!</strong></p>
            {% endif %}
            <table>
                <tr>
                    <th>Логін: </th>
                    <td>
                        <input type="text" name="username" value="" size="50" />
                    </td>
                </tr>
                <tr>
                    <th>Пароль: </th>
                    <td>
                        <input type="password" name="password" value="" size="50" />
                    </td>
                </tr>
            </table>

            {% block input-submit %}
                <input type="submit" value="Увійти" />
            {% endblock %}

            {% block input-cancel %}
                <input type="button" value="Скасувати" onclick="javascript:history.back()" />
            {% endblock %}

        </form>
    </div>
{% endblock %}

{% block href-back %}
    <li><a href="{% url 'index' %}">Уверх</a></li>
{% endblock %}

