{% extends "folders/base_folder.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}
{# Є одночасно базовим шаблоном для групи шаблонів #}

{% block style %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href='{% static "css/scrolltable.css" %}'
          >
{% endblock %}

{% block body %}

    {% load koop_template_filters %}
    {% load folder_template_filters %}
    {% load staticfiles %}

    <div id="page-name"
         class="padding-y-05">

        {% block page-name %}
            {# Переозначити тут назву сторінки, наприклад: Список файлів #}
        {% endblock %}

    </div>
    <div class="wrapper">
        <div class="main">
            <table id="body-table"
                class="scrolltable tbody-height-55vh folders4 folders4-wide transformtable khaki-theme"
                >
                <thead>
                    <tr>
                        <th id="th1"
                            data-column-header="Тип">
                            <span>Тип</span>
                        </th>
                        <th id="th2"
                            data-column-header="Найменування">
                            <span>Найменування</span>
                        </th>
                        <th id="th3"
                            data-column-header="Дата">
                            <span>Дата</span>
                        </th>
                        <th id="th4"
                            data-column-header="Розмір">
                            <span>Розмір</span>
                        </th>
                    </tr>
                </thead>
                <tbody id="tablebody">
                    {% for f in object_list %}
                        <tr id="tr-{{ f|model_name }}#{{ f.id }}"
                            >
                            <td id="td1-{{ f|model_name }}#{{ f.id }}"
                                data-column-header="Тип"
                                >
                                {% if f|iconpath %}
                                    <img src="{% static f|iconpath %}" alt={{f|model_name}} />
                                {% else %}
                                    <span>    </span>
                                {% endif %}
                            </td>
                            <td id="td2-{{ f|model_name }}#{{ f.id }}"
                                data-column-header="Найменування"
                                >
                                {% if f|model_name == 'folder' %}
                                    <a id="folder#{{ f.id }}"
                                       href="{% url 'folders:folder-detail' f.id %}">{{ f|full_named_path }}</a>
                                {% else %}
                                    <a id="report#{{ f.id }}"
                                       href="{{ f.get_absolute_url }}">{{ f|full_named_path }}</a>
                                       <!--href="{% url 'folders:report-detail' f.id %}">{{ f|full_named_path }}</a>-->
                                {% endif %}
                            </td>
                            <td id="td3-{{ f|model_name }}#{{ f.id }}"
                                data-column-header="Дата"
                                >
                                {% if f|model_name == 'folder' %}
                                    <span>{{ f.created_on|date:"d.m.Y" }}</span>
                                {% elif f.file %}
                                    <span>{{ f.uploaded_on|date:"d.m.Y" }}</span>
                                {% else %}
                                    <span> </span>
                                {% endif %}
                            </td>
                            <td id="td4-{{ f|model_name }}#{{ f.id }}"
                                    data-column-header="Розмір"
                                >
                                {% if f|model_name == 'folder' %}
                                    <span> </span>
                                {% elif f.file %}
                                    <span>{{ f.file.size|filesizeformat }}</span>
                                {% else %}
                                    <span> </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="aside aside-1-5 align-flex-end aside-empty-5"></div>
        <div class="aside aside-2-5 align-flex-end aside-empty-5"></div>
    </div>

{% endblock %}

{% block href-folder-create-in %}
{% endblock %}
{% block href-folder-update %}
{% endblock %}
{% block href-folder-download %}
{% endblock %}
{% block href-folder-delete %}
{% endblock %}
{% block href-report-upload-in %}
{% endblock %}

{% block href-report-detail %}
{% endblock %}
{% block href-report-preview %}
{% endblock %}
{% block href-report-update %}
{% endblock %}
{% block href-report-download %}
{% endblock %}
{% block href-report-delete %}
{% endblock %}

{% block href-back %}
    <li><a href="{% url 'folders:folder-list-all' %}">Уверх</a></li>
{% endblock %}
