{% extends "folders/base_folder.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}
{# Є одночасно базовим шаблоном для групи шаблонів #}

{% load koop_template_filters %}
{% load folder_template_filters %}
{% load staticfiles %}

{% block style %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href='{% static "css/scrolltable.css" %}'
          >
{% endblock %}

{% block body %}
    <div id="page-name"
         class="padding-y-05">

        {% block page-name %}
            {# Переозначити тут назву сторінки, наприклад: Список файлів #}
        {% endblock %}

    </div>
    <div class="wrapper">
        <div class="main">
            <table id="body-table"
                class="scrolltable tbody-height-55vh folders4 folders4-wide transformtable khaki-theme"
                >
                <thead>
                    {% include "folders/block_folders4_thead.html" %}
                </thead>
                <tbody id="tablebody">
                    {% include "folders/block_folders4_tbody.html" %}
                </tbody>
            </table>
        </div>


        <div class="aside aside-1-5 align-flex-end aside-empty-5"></div>
        <div class="aside aside-2-5 align-flex-end aside-empty-5"></div>
    </div>

{% endblock %}

{% block href-folder-create-in %}
{% endblock %}
{% block href-folder-update %}
{% endblock %}
{% block href-folder-download %}
{% endblock %}
{% block href-folder-delete %}
{% endblock %}
{% block href-report-upload-in %}
{% endblock %}

{% block href-report-detail %}
{% endblock %}
{% block href-report-preview %}
{% endblock %}
{% block href-report-update %}
{% endblock %}
{% block href-report-download %}
{% endblock %}
{% block href-report-delete %}
{% endblock %}

{% block href-back %}
    <li><a href="{% url 'folders:folder-list-all' %}">Уверх</a></li>
{% endblock %}
