{% load koop_template_filters %}
{% load folder_template_filters %}
{% load staticfiles %}

{% for f in object_list %}
    <tr id="tr-{{ f|model_name }}#{{ f.id }}"
        >
        <td id="td1-{{ f|model_name }}#{{ f.id }}"
            data-column-header="Тип"
            >
            {% if f|iconpath %}
                <img src="{% static f|iconpath %}" alt={{f|model_name}} />
            {% else %}
                <span>    </span>
            {% endif %}
        </td>
        <td id="td2-{{ f|model_name }}#{{ f.id }}"
            data-column-header="Найменування"
            >
            {% if f|model_name == 'folder' %}
                <a id="folder#{{ f.id }}"
                   href="{% url 'folders:folder-detail' f.id %}">{{ f|full_named_path }}</a>
            {% else %}
                <a id="report#{{ f.id }}"
                   href="{{ f.get_absolute_url }}">{{ f|full_named_path }}</a>
                   <!--href="{% url 'folders:report-detail' f.id %}">{{ f|full_named_path }}</a>-->
            {% endif %}
        </td>
        <td id="td3-{{ f|model_name }}#{{ f.id }}"
            data-column-header="Дата"
            >
            {% if f|model_name == 'folder' %}
                <span>{{ f.created_on|date:"d.m.Y" }}</span>
            {% elif f.file %}
                <span>{{ f.uploaded_on|date:"d.m.Y" }}</span>
            {% else %}
                <span> </span>
            {% endif %}
        </td>
        <td id="td4-{{ f|model_name }}#{{ f.id }}"
                data-column-header="Розмір"
            >
            {% if f|model_name == 'folder' %}
                <span> </span>
            {% elif f.file %}
                <span>{{ f.file.size|filesizeformat }}</span>
                <span>{{ f.get_absolute_url }}</span>
            {% else %}
                <span> </span>
            {% endif %}
        </td>
    </tr>
{% endfor %}
