                    <tr>
                        <th id="th1"
                            data-column-header="Тип">
                            <span>Тип</span>
                        </th>
                        <th id="th2"
                            data-column-header="Найменування">
                            <span>Найменування</span>
                        </th>
                        <th id="th3"
                            data-column-header="Дата">
                            <span>Дата</span>
                        </th>
                        <th id="th4"
                            data-column-header="Розмір">
                            <span>Розмір</span>
                        </th>
                    </tr>
