{% extends "folders/folder_base.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}

{% block body %}
    <div class="padding-y-05">
        Список кореневих тек
    </div>
    <div class="wrapper">
        <div class="main">
            <ul class="column-list">
                {% for f in object_list %}
                    <li><a href="/folders/{{ f.id }}/contents/">{{ f }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="aside aside-1 align-flex-end aside-empty"></div>
        <div class="aside aside-2 align-flex-end aside-empty"></div>
    </div>
{% endblock %}

{% block href-folder-parent %}
{% endblock %}

{% block href-folder-create %}
{% endblock %}
{% block href-report-upload %}
{% endblock %}

{% block href-folder-create-in %}
{% endblock %}
{% block href-folder-update %}
{% endblock %}
{% block href-folder-download %}
{% endblock %}
{% block href-folder-delete %}
{% endblock %}
{% block href-report-upload-in %}
{% endblock %}

{% block href-report-preview %}
{% endblock %}
{% block href-report-update %}
{% endblock %}
{% block href-report-download %}
{% endblock %}
{% block href-report-delete %}
{% endblock %}

{% block href-back %}
{% endblock %}

