<!DOCTYPE html>

{# Шаблон-каркас. Його блоки можуть перевизначатися дочірніми шаблонами #}

<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    {% block load_style %}
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/koop_style.css' %}">
        <link rel="shortcut icon"
              href="{% static 'favicon/favicon.ico' %}"/>
    {% endblock %}

    {% block style %}
        {# У дочірньому шаблоні можна переозначити стилі #}
    {% endblock %}

</head>

<body>
 <div class="site-container">
  <div class="site-header">
    {% block title %}
        {% include "block_title.html" %}
    {% endblock %}
  </div>

  <div class="site-body">
    <ul class="navigation">
        {# У дочірньому шаблоні можна переозначити тільки самопосилання #}
        {% block href-index %}
            <li><a href="{% url 'index' %}">Головна сторінка</a></li>
        {% endblock %}
        {% block href-folder-contents %}
            <li><a href="{% url 'folders:folder-contents' 1 %}">Картотека</a></li>
        {% endblock %}
        {% block href-folder-list-all %}
            <li><a href="{% url 'folders:folder-list-all' %}">Картотека (ст.)</a></li>
        {% endblock %}
        {% block href-back %}
            <li><a href="javascript:history.back()">Назад</a></li>
        {% endblock %}
    </ul>

    {% block body %}
        {# У дочірньому шаблоні можна переозначити основне тіло шаблону #}
    {% endblock %}

    {% block paginator %}
        {# Для CBV з вбудованим paginator'ом навігація: "?page=3" #}
        {# Для view без вбудованого paginator'а навігація: "/.../page3/" #}
        {% include "block_paginator.html" %}
    {% endblock %}

    {% block load_js %}
        {# У дочірньому шаблоні можна переозначити script #}
    {% endblock %}

    {% block ajax_browtab %}
        {# У дочірньому шаблоні можна переозначити код #}
    {% endblock %}

    {% block load_ajax %}
        {# У дочірньому шаблоні можна переозначити script #}
    {% endblock %}
  </div>

  <div class="site-footer">
    {% block bottom %}
        {% include "block_bottom.html" %}
    {% endblock %}
  </div>
 </div>
</body>
</html>

