{% extends "folders/base_folder.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону folder_base.html #}

{% block body %}
    {% load staticfiles %}
    {% load koop_template_filters %}
    {% load folder_template_filters %}
    <div id="page-name"
         class="padding-y-05">
        <h3>
            {% block page-name %}
                Попередній перегляд файла: {{ report }}
            {% endblock %}
        </h3>
    </div>
    <div id="preview-box"
         class="preview-box">
        {% if report|fileext in viewable_extension_list %}
            {% if report|fileext == ".jpg" %}
                <img class="max-width-75pc"
                    src="{% static report.file %}"/>
            {% elif report|fileext == ".txt" %}
                <object height="500" width="75%" data="{% static report.file %}" type="text/plain"></object>
            {% elif report|fileext == ".pdf" %}
                <object height="500" width="75%" data="{% static report.file %}" type="application/pdf"></object>
            {% elif report|fileext in viewable_extension_list %}
                <object height="500" width="75%" data="{% static report.file %}"></object>
            {% else %}
                На даний час неможливо переглянути файл цього типу
            {% endif %}
        {% else %}
            На даний час неможливо переглянути файл цього типу
        {% endif %}
    </div>

    <!--<img src="{{ report.file }}" style="width:304px;height:228px;">-->

{% endblock %}

{% block href-folder-list-all %}
{% endblock %}
{% block href-folder-list %}
{% endblock %}
{% block href-folder-parent %}
{% endblock %}
{% block href-report-list %}
{% endblock %}

{% block href-folder-create %}
{% endblock %}
{% block href-report-upload %}
{% endblock %}

{% block href-folder-create-in %}
{% endblock %}
{% block href-folder-update %}
{% endblock %}
{% block href-folder-download %}
{% endblock %}
{% block href-folder-delete %}
{% endblock %}
{% block href-report-upload-in %}
{% endblock %}

{% block href-report-preview %}
{% endblock %}

{% block href-folder-contents %}
{% endblock %}

{% block href-back %}
    <li><a href="{% url 'folders:folder-list-all' %}">Уверх</a></li>
{% endblock %}
