{% load staticfiles %}
{% load koop_template_filters %}
{% load folder_template_filters %}

<table class="scrolltable tbody-height-55vh folders4 transformtable khaki-theme" id="browtable">
<thead>
<tr>
 <th data-column-header="Тип" id="th1">
  <button id="button-sort-1" title="Групування (теки-файли) при сортуванні">
   Тип
  </button>
 </th>
 <th data-column-header="Найменування" id="th2">
  <button id="button-sort-2" title="Сортування">
   Найменування
  </button>
 </th>
 <th data-column-header="Дата" id="th3">
  <button id="button-sort-3" title="Сортування">
   Дата
  </button>
 </th>
 <th data-column-header="Розмір" id="th4">
  <button id="button-sort-4" title="Сортування">
   Розмір
  </button>
 </th>
</tr>
</thead>
<tbody id="tablebody">
<tr id="tr-folder#17">
 <td data-column-header="Тип" id="td1-folder#17">
  <img alt="folder" src="/static/img/folder.png"/>
 </td>
 <td data-column-header="Найменування" id="td2-folder#17">
  <a href="/folders/17/contents/" id="folder#17">
   Звітність
  </a>
 </td>
 <td data-column-header="Дата" id="td3-folder#17">
  <span>
  </span>
 </td>
 <td data-column-header="Розмір" id="td4-folder#17">
  <span>
  </span>
 </td>
</tr>
<tr id="tr-folder-9">
 <td data-column-header="Тип" id="td1-folder#9">
  <img alt="folder" src="/static/img/folder.png"/>
 </td>
 <td data-column-header="Найменування" id="td2-folder#9">
  <a href="/folders/9/contents/" id="folder#9">
   Проектна документація
  </a>
 </td>
 <td data-column-header="Дата" id="td3-folder#9">
  <span>
  </span>
 </td>
 <td data-column-header="Розмір" id="td4-folder#9">
  <span>
  </span>
 </td>
</tr>
<tr id="tr-report#138">
 <td data-column-header="Тип" id="td1-report#138">
  <img alt="report" src="/static/img/file-icons/32px/jpg.png"/>
 </td>
 <td data-column-header="Найменування" id="td2-report#138">
  <a href="/folders/report/138/view/" id="report#138">
   Pismo M..jpg
  </a>
 </td>
 <td data-column-header="Дата" id="td3-report#138">
  <span>
   14.01.2016
  </span>
 </td>
 <td data-column-header="Розмір" id="td4-report#138">
  <span>
   307,3 Кб
  </span>
 </td>
</tr>
<tr id="tr-report#140">
 <td data-column-header="Тип" id="td1-report#140">
  <img alt="report" src="/static/img/file-icons/32px/pdf.png"/>
 </td>
 <td data-column-header="Найменування" id="td2-report#140">
  <a href="/folders/report/140/view/" id="report#140">
   UPandDOWN - Complete Informations about movie!.pdf
  </a>
 </td>
 <td data-column-header="Дата" id="td3-report#140">
  <span>
   11.01.2015
  </span>
 </td>
 <td data-column-header="Розмір" id="td4-report#140">
  <span>
   103,2 Кб
  </span>
 </td>
</tr>
</tbody>
</table>
