{% extends "koop_base.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону koop_base.html #}

{% block style %}
    <style type="text/css">
        .red { color:    red;}
    </style>
{% endblock %}

{% block body %}
    <h2 class="red">У Вас немає доступу до цієї сторінки.</h2>
    <ul class="navigation-small buttons-y align-items-center" >
        <li>
            Будь-ласка, <a href="/login/">увійдіть під своїм іменем</a>
        </li>
        <li>
            або <a href="/register/">зареєструйтесь</a>
        </li>
    </ul>
{% endblock %}

{% block href-flats %}
{% endblock %}

{% block href-folders %}
{% endblock %}

{% block href-login %}
{% endblock %}

{% block href-register %}
{% endblock %}

{% block href-own-profile %}
{% endblock %}

{% block href-adm-index %}
{% endblock %}

