{% extends "koop_base.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}

{% block body %}
    <div class="wrapper">
        <!--<div class="header">Header</div>-->
        <div class="main">
            {% load staticfiles %}

            <img class="fill-space" src="{% static 'img/koop_building.jpg' %}"
                 alt="Будинок кооперативу" />
        </div>
        <div class="aside aside-1">
            <h2>Головна сторінка</h2>
            {% if user.is_authenticated %}
                <h2>Вітаємо, {{ user.username }}!</h2>
            {% else %}
                <ul class="navigation-small buttons-y" >
                    <li>
                        <a href="/login/">Увійти</a>
                    </li>
                    <li>
                        <a href="/register/">Зареєструватися</a>
                    </li>
                </ul>
            {% endif %}
        </div>
        <div class="aside aside-2">
            {% include "block_aside_info.html" %}
        </div>
        <!--<footer class="footer">Footer</footer>-->
    </div>
{% endblock %}

{% block paginator %}
{% endblock %}

{% block href-index %}
{% endblock %}

{% block href-back %}
{% endblock %}

