{% extends "folders/folder_base.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}

{% block body %}
    <p>Деталі теки: {{ folder }}</p>
    <table class="tabledetail">
        <tr>
            <th>Параметр</th>
            <th>Значення</th>
        </tr>
        {% for k, v in obj_details %}
            <tr>
                <td>{{ k }}</td>
                <td class="text-align-left">{{ v }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

<!-- Всі href з батьківського шаблону: -->
{% block href-folder-create %}
    <li><a href="/folders/create/{{ folder.id }}/">Створити теку в цій</a></li>
{% endblock %}
{% block href-folder-update %}
    <li><a href="/folders/{{ folder.id }}/update/">Редагувати деталі теки</a></li>
{% endblock %}
{% block href-folder-download %}
    <li><a href="/folders/{{ folder.id }}/download/">Завантажити вміст теки на мій комп'ютер</a></li>
{% endblock %}
{% block href-folder-delete %}
    <li><a href="/folders/{{ folder.id }}/delete/">Видалити теку</a></li>
{% endblock %}
{% block href-report-upload %}
    <li><a href="/folders/report/upload/{{ folder.id }}/" >Заладувати файл в цю теку</a></li>
{% endblock %}
{% block href-report-update %}
{% endblock %}
{% block href-report-delete %}
{% endblock %}
{% block href-folder-list %}
{% endblock %}
{% block href-report-list %}
{% endblock %}
{% block href-folder-parent %}
{% endblock %}

