{% extends "koop_own_base.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}

{% block body %}
    <h3>Зміна паролю</h3>
    {% if finished %}
        <h2>Вітаємо, {{ user.username }}!</h2>
        <p>Ваш пароль успішно змінено!</p>
        <ul class="navigation-small buttons-y align-items-center" >
            <li>
                <a href="/own/profile/">Продовжити роботу</a>
            </li>
        </ul>
    {% else %}
        <strong>Заповніть поля форми:</strong><br />
        <div align="center">
            <form id="user_form" method="post"
                class="tableform"
                enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% if bad_details %}
                    <p><strong>Введені дані неправильні!</strong></p>
                {% endif %}
                <table>
                    {{ form }}
                </table>
                <input type="submit" value="Готово" />
                <input type="button" value="Скасувати" onclick="javascript:history.back()" />
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block href-own-profile-update %}
{% endblock %}

{% block href-change-password %}
{% endblock %}

{% block href-logout %}
{% endblock %}

