{% extends "base_js_tests.html" %}

{% load staticfiles %}

{% block title %}
    KoopSite - browtab.js
{% endblock title %}

{% block qunit-fixture %}
    {% load staticfiles %}
    {% load koop_template_filters %}
    {% load folder_template_filters %}
    <table id="browtable"
        class="scrolltable users8 transformtable khaki-theme"
        >
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="tablebody">
            <tr id="tr-user#23">
                <td id="td1-user#23"
                    headers="th1"
                    data-column-header="Логін">
                    <a href="/adm/users/23/profile/" title="Iryna"
                        class="flex-container"
                        >
                        <div class="img-box">
                            <img src="/media/profile_images/23_30x24.jpg"/>
                        </div>
                        <div class="after-img-box">Iryna</div>
                    </a>
                </td>
                <td id="td2-user#23"
                    headers="th2"
                    data-column-header="Користувач">
                    <span title=""></span>
                </td>
                <td id="td3-user#23"
                    headers="th3"
                    data-column-header="Кв.">
                    <span title=""></span>
                </td>
                <td id="td4-user#23"
                    headers="th4"
                    data-column-header="e-mail">
                    <span title=""></span>
                </td>
                <td id="td5-user#23"
                    headers="th5"
                    data-column-header="Дата ств.">
                    <span>17.11.2015</span>
                </td>
                <td id="td6-user#23"
                    headers="th6"
                    data-column-header="Підтв.">
                    <img class="padding-y-07"
                         src="/static/admin/img/icon-unknown.gif"/>
                </td>
                <td id="td7-user#23"
                    headers="th7"
                    data-column-header="Актив.">
                    <img class="padding-y-07"
                         src="/static/admin/img/icon-no.gif"/>
                </td>
                <td id="td8-user#23"
                    headers="th8"
                    data-column-header="Чл.кооп.">
                    <img class="padding-y-07"
                         src="/static/admin/img/icon-no.gif"/>
                </td>
            </tr>
            <tr id="tr-user#22">
                <td id="td1-user#22"
                    headers="th1"
                    data-column-header="Логін">
                    <a href="/adm/users/22/profile/" title="Myroslava"
                        class="flex-container"
                        >
                        <div class="img-box">
                            <img src="/media/profile_images/22_30x24.jpg"/>
                        </div>
                        <div class="after-img-box">Myroslava</div>
                    </a>
                </td>
                <td id="td2-user#22"
                    headers="th2"
                    data-column-header="Користувач">
                    <span title="Волощук Мирослава">Волощук Мирослава</span>
                </td>
                <td id="td3-user#22"
                    headers="th3"
                    data-column-header="Кв.">
                    <span title=""></span>
                </td>
                <td id="td4-user#22"
                    headers="th4"
                    data-column-header="e-mail">
                    <span title=""></span>
                </td>
                <td id="td5-user#22"
                    headers="th5"
                    data-column-header="Дата ств.">
                    <span>31.10.2015</span>
                </td>
                <td id="td6-user#22"
                    headers="th6"
                    data-column-header="Підтв.">
                    <img class="padding-y-07"
                         src="/static/admin/img/icon-yes.gif"/>
                </td>
                <td id="td7-user#22"
                    headers="th7"
                    data-column-header="Актив.">
                    <img class="padding-y-07"
                         src="/static/admin/img/icon-yes.gif"/>
                </td>
                <td id="td8-user#22"
                    headers="th8"
                    data-column-header="Чл.кооп.">
                    <img class="padding-y-07"
                         src="/static/admin/img/icon-yes.gif"/>
                </td>
            </tr>
            <tr id="tr-user#24">
                <td id="td1-user#24"
                    headers="th1"
                    data-column-header="Логін">
                    <a href="/adm/users/24/profile/" title="Orest"
                        class="flex-container"
                        >
                        <div class="img-box">
                            <div class="instead-img"></div>
                        </div>
                        <div class="after-img-box">Orest</div>
                    </a>
                </td>
                <td id="td2-user#24"
                    headers="th2"
                    data-column-header="Користувач">
                    <span title=""></span>
                </td>
                <td id="td3-user#24"
                    headers="th3"
                    data-column-header="Кв.">
                    <span title="43">43</span>
                </td>
                <td id="td4-user#24"
                    headers="th4"
                    data-column-header="e-mail">
                    <span title=""></span>
                </td>
                <td id="td5-user#24"
                    headers="th5"
                    data-column-header="Дата ств.">
                    <span>18.01.2016</span>
                </td>
                <td id="td6-user#24"
                    headers="th6"
                    data-column-header="Підтв.">
                    <img class="padding-y-07"
                         src="/static/admin/img/icon-yes.gif"/>
                </td>
                <td id="td7-user#24"
                    headers="th7"
                    data-column-header="Актив.">
                    <img class="padding-y-07"
                         src="/static/admin/img/icon-yes.gif"/>
                </td>
                <td id="td8-user#24"
                    headers="th8"
                    data-column-header="Чл.кооп.">
                    <img class="padding-y-07"
                         src="/static/admin/img/icon-yes.gif"/>
                </td>
                </tr>
        </tbody>
    </table>

    <!-- Обмін даними через AJAX: -->
    <form method="post"
        id="selRowIndex_form"
        class="nodisplay"
        >
        {% csrf_token %}

        <input id="csrfmiddlewaretoken" type="text" value="{{ csrf_token }}">
        <label for="parent_id">parent_folder_id:</label>
        <input id="parent_id"       type="text" value="{{ folder.id }}">
        <label for="list_length">list_length:</label>
        <input id="list_length"     type="text" value="{{ object_list|length }}">
        <label for="json_arr">json_arr:</label>
        <input id="json_arr"        type="text" value="{{ json_arr }}">

        <!-- У ці поля view запише назву таблиці та параметри стартового
            обраного рядка (індекс рядка, id та тип елемента (ім'я моделі)).
            Крім того js силоміць перезапише ці параметри (на випадок
            якщо сторінка кешувалася і не хоче перезавантажуватися): -->
        <label for="browTabName">browTabName:</label>
        <input id="browTabName"   type="text" value="{{ browTabName }}">
        <label for="startRowIndex">startRowIndex:</label>
        <input id="startRowIndex"   type="text" value="{{ startRowIndex }}">
        <label for="selRowIndex">selRowIndex:</label>
        <input id="selRowIndex"     type="text" value="{{ selRowIndex }}">
        <label for="selElementModel">selected_element_model:</label>
        <input id="selElementModel" type="text" value="{{ selElementModel }}">
        <label for="selElementID">selected_element_id:</label>
        <input id="selElementID"    type="text"   value="{{ selElementID }}">
        <input id="button"      type="button" value="send to server">
    </form>

{% endblock qunit-fixture %}

{% block tested_script %}
    <!--<script src="{% static 'js/browtab.js' %}"          ></script>-->
    <script src="{% static 'js/users_browtab.js' %}"          ></script>
{% endblock tested_script %}

{% block test_script %}
    <script src="{% static 'koopsite/tests_users_browtab.js' %}"></script>
{% endblock test_script %}
