{% extends "flats/base_flat.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}

{% block body %}
    <div id="page-name"
         class="padding-y-05">
        <h3>
        {% block page-name %}
            Характеристика квартири № {{ object.flat_No }}
        {% endblock %}
        </h3>
    </div>
    <table id="body-table"
        class="tabledetail">
        <tr>
            <th>Параметр</th>
            <th>Значення</th>
        </tr>
        {% for k, v in object_list %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
        {% endfor %}
    </table>

    {% include "block_paginator.html" %}

{% endblock %}

{% block under-paginator %}
    <ul id="under-paginator"
        class="navigation-small buttons-y align-items-center" >
        <li>
            <p><a href="{% url 'flats:flat-detail-h' object.pk %}">В один рядок</a></p>
        </li>
    </ul>
{% endblock %}

