{% extends "flats/flat_base.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}

{% block body %}
    <p id="page-name">Характеристика квартир</p>
    <table id="body-table"
        class="tabledetail max-width-4em">
        <tr>
            {% for k in field_names %}
                <th>{{ k }}</th>
            {% endfor %}
        </tr>
            {% for f in field_vals %}
                <tr>
                    {% for v in f %}
                        <td>{{ v }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>

    {% include "block_paginator.html" %}

{% endblock %}

{% block href-flat-table %}
{% endblock %}
