{% extends "flats/base_flat_scheme.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}

{% load koop_template_filters %}
{% load staticfiles %}

{% block page-name %}
    Зареєстровані користувачі сайту
{% endblock %}

{% block flat-td-a-href %}
    <td bgcolor="{{ bgcolor }}"
            ><a href="{% url 'flats:flat-detail' f.id %}">{{ f.flat_No }}</a></td>
{% endblock %}

{% block empty-flat-td %}
    <td></td>
{% endblock %}

{% block under-table %}
    Клацніть мишкою по номеру квартири, щоб побачити список користувачів
{% endblock %}
