{% extends "flats/flat_base.html" %}

{# Дочірній шаблон. Переозначає деякі/всі блоки батьківського шаблону #}

{% block body %}
    <p id="page-name">Характеристика квартири № {{ flat.flat_No }}</p>
    <table id="body-table"
        class="tabledetail">
        <tr>
            <th>Параметр</th>
            <th>Значення</th>
        </tr>
        {% for k, v in obj_details %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% comment %}
{% block under-paginator %}
    <ul id="under-paginator"
        class="navigation-small buttons-y align-items-center" >
        <li>
            <p><a href="{% url 'flats:flat-detail-h' flat.pk %}">В один рядок</a></p>
        </li>
    </ul>
{% endblock %}
{% endcomment %}
