<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
    </title>
    {% load staticfiles %}

    {% block link_qunit %}
        <link rel="stylesheet" href="{% static 'qunit/qunit.css' %}"
              type="text/css" media="screen">
    {% endblock link_qunit %}

</head>

<body>


    <h1 id="qunit-header">
        QUnit/Sinon.JS Test --- {% block title %}{% endblock title %}
        {% include "block_href_js_tests.html" %}
    </h1>
    <div id="qunit"></div>
    <h2 id="qunit-banner"></h2>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>

    <div id="qunit-fixture">

        {% block qunit-fixture %}
        {% endblock qunit-fixture %}

    </div>

    {% block script_jquery %}
        <script src="http://code.jquery.com/jquery.min.js"></script>
    {% endblock script_jquery %}

    {% block script_qunit %}
        <script src="{% static 'qunit/qunit.js' %}"       ></script>
    {% endblock script_qunit %}

    {% block script_sinon %}
        <script src="{% static 'qunit/sinon.js' %}"       ></script>
    {% endblock script_sinon %}

    {% block script_sinon_qunit %}
        <script src="{% static 'qunit/sinon-qunit.js' %}" ></script>
    {% endblock script_sinon_qunit %}

    {% block script_library %}
    {% endblock script_library %}

    {% block tested_script %}
    {% endblock tested_script %}

    {% block test_script %}
    {% endblock test_script %}

</body>
</html>

