{% load staticfiles %}

{% block hrefs-main %}
    <a href="#"></a><br>
{% endblock hrefs-main %}

{% block hrefs-apps %}
    Тести аплікацій:
    <br>
        project koopsite:
        <a href="{% url 'js_tests:functions' %}">functions</a>
        <a href="{% url 'js_tests:browtab' %}">browtab</a>
        <a href="{% url 'js_tests:example' %}">EXAMPLE</a>
    <br>
        app koopsite:
        <a href="{% url 'js_tests:koopsite_users_browtab' %}">users_browtab</a>
    <br>
        app folders:
        <a href="{% url 'js_tests:folders' %}">Folders app</a>
    <br>
{% endblock hrefs-apps %}

