{% load staticfiles %}

{% block hrefs-main %}
    <a href="#"></a><br>
{% endblock hrefs-main %}

{% block hrefs-apps %}
    Тести аплікацій:
    <br>
        project koopsite:
        <a href="{% url 'js_tests:functions' %}"    >functions</a>
        <a href="{% url 'js_tests:browtab' %}"      >browtab</a>
        <a href="{% url 'js_tests:browtab_ajax' %}" >browtab_ajax</a>
        <a href="{% url 'js_tests:browtab_ui' %}"   >browtab_ui</a>
    <br>
        app koopsite:
        <a href="{% url 'js_tests:koopsite_users_browtab' %}"     >users_browtab</a>
        <a href="{% url 'js_tests:koopsite_users_browtab_ajax' %}">users_browtab_ajax</a>
    <br>
        app folders:
        <a href="{% url 'js_tests:folders_folder_browtab' %}"     >folder_browtab</a>
        <a href="{% url 'js_tests:folders_folder_browtab_ajax' %}">folder_browtab_ajax</a>
    <br>
        examples:
        <a href="{% url 'js_tests:folders' %}">Folders app</a>
        <a href="{% url 'js_tests:example' %}">EXAMPLE</a>
    <br>
{% endblock hrefs-apps %}

