{% extends "base_js_tests.html" %}

{% load staticfiles %}

{% block title %}
    Javascript tests - KoopSite koopsite functions
{% endblock title %}

{% block qunit-fixture %}
    <table>
        <tr id="tr1" class="required">
            <td><input id="id_name" /></td>
        </tr>
        <tr id="tr2">
            <td><input id="id_created_on" /></td>
        </tr>
    </table>
{% endblock qunit-fixture %}

{% block tested_script %}
    <script src="{% static 'js/functions.js' %}"      ></script>
{% endblock tested_script %}

{% block test_script %}
    <script src="{% static 'js/test_functions.js' %}"></script>
{% endblock test_script %}
