<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Javascript tests - KoopSite</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'qunit/qunit.css' %}">
</head>

<body>
    <div>
        <p>Лінки до тестування javascript:</p>
        <p>
            <a href="{% url 'js_tests:js_tests' %}">KoopSite - всі тести сайту</a>
        </p>
        <p>Тести аплікацій:</p>
        <p>
            <a href="{% url 'js_tests:koopsite_functions' %}">Koopsite app Functions</a>
            <a href="{% url 'js_tests:koopsite_browtab' %}">Koopsite app BrowTab</a>
        </p>
        <p>
            <a href="{% url 'js_tests:folders' %}">Folders app</a>
        </p>
    </div>
    <div id="qunit"></div>
    <div id="qunit-fixture">
    </div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="{% static 'qunit/qunit.js' %}"       ></script>
</body>
</html>
