<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Javascript tests - KoopSite - Folders app</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'qunit/qunit.css' %}">
</head>

<body>
    <div id="qunit"></div>
    <div id="qunit-fixture">
    </div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="{% static 'qunit/qunit.js' %}"       ></script>
    <script src="{% static 'js/folder_browtab.js' %}"    ></script>
    <script src="{% static 'folders/test_folders.js' %}" ></script>

</body>
</html>
